###################################################
#Instagram Credentials
insta_client_id = 'YOUR_CLIENT_ID'
insta_client_secret = 'YOUR_CLIENT_SECRET

#Flickr Credentials
flickr_app_key = 'YOUR_APP_KEY’
flickr_app_secre = 'YOUR_APP_SECRET’
